{
  "Parameters": {
    "NODE_ENV": "dev/preprod/prod/test",
    "SERVER_PORT": "port",
    "SERVER_HOSTNAME": "hostname",
    "DATABASE_URL": "postgresql://postgres-username:postgres-password@host:port/database",
    "JWT_SECRET": "your_jwt_secret",
    "DEFAULT_USER_NAME": "your-user-name",
    "DEFAULT_USER_PASSWORD": "your-password",
    "DEFAULT_USER_EMAIL": "example@email.com"
  }
}
